.fade.modal-backdrop {
    opacity: 0;
    display: none;
}
.modal-body {
    padding: 50px 1rem !important;
}
.fade.modal-backdrop.show {
    opacity: 1;
    display: block;
    background-color: #21212187;
}
.modal .modal-header .btn-close-modal {
    cursor: pointer;
    font-size: 20px;
    color: var(--gray-medium);
}
.modal .modal-header .btn-close-modal-off {
    display: none;
}